* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
  font-family: "Lucida Sans Unicode", "Trebuchet MS", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
body::-webkit-scrollbar {
  width: 1em;
}
.landing_page {
  display: flex;
}

.app {
  display: flex;
  justify-content: space-between;
}
.app_left {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  width: 200px;
  background-color: #1da1f2;
  text-align: center;
}
a {
  color: #f5f6fa;
  text-align: center;
}
.list {
  padding-left: 10px;
  color: #f5f6fa;
}
.nevigation {
  margin-top: 65px;
}
.home_right {
  /* display: inline-table;
  justify-content: space-between;
  margin-left: 500px;
  padding-left: 20px;
  width: 100%;*/
  margin-left: 300px;

  padding-left: 20px;
  padding-right: 20px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  /*width: 500px;*/
}
.app_right {
  margin-left: 300px;
  padding-left: 20px;
  display: flex;
}
.charts {
  margin-top: 10px;
  width: 500px;
  height: 300px;
}

.left {
  width: 300px;
  display: flex;
}
.right {
  /*padding-top: 0%;
  padding-left: 300px;
  width: 600px;
  height: 700px;*/
  padding-left: 100px;
  height: 100%;
}

/** 
  changes display of the divs whenever the screen size changes
*/
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
