* {
  margin: 0;
}
body {
  background-color: #f5f6fa;
  font-family: "Lucida Sans Unicode", "Trebuchet MS", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.landing_page {
  display: flex;
}

.app {
  display: flex;
  justify-content: space-between;
}
.app_left {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  position: fixed;
  width: 200px;
  background-color: #1da1f2;
  text-align: center;
}
a {
  color: #f5f6fa;
  text-align: center;
}
.list {
  padding-left: 10px;
  color: #f5f6fa;
}
.nevigation {
  margin-top: 65px;
}
.app_right {
  margin-left: 300px;
  padding-left: 20px;
  position: fixed;
}
.test {
  margin-top: 40px;
  width: 350px;
  height: 260px;
}
.twitts {
  margin-top: 40px;
  width: 350px;
  height: 260px;
}
.charts {
  margin-top: 40px;
  width: 500px;
  height: 260px;
}

/** 
  changes display of the divs whenever the screen size changes
*/
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
